:root {
    --primary: #863406;
    --bg: rgb(231, 226, 215);
  }
  
  body {
    background-color: var(--bg)!important;
    background-image: url("assets/newbg")!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  
  * {
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    text-decoration: 0;
  }
  
  
  nav {
    box-shadow: 1px 5px 10px #863406;
    background-color: white;
  }
  
  .navbar-brand {
    color: #863406 !important;
    font-family: "Yellowtail", cursive;
    font-weight: 500;
    padding-left: 20px;
  }
  
  .navbar-toggler {
    border: none !important;
    font-size: 1.2rem;
  }
  
  .navbar-toggler:focus,
  .btn-close:focus {
    box-shadow: none !important;
    outline: none !important;
  }
  
  .nav-link {
    color: black;
    font-weight: 400;
    position: relative;
  }
  
  .nav-link:hover,
  .nav-link.active {
    color: #863406;
    font-family: 500;
  }
  
  @media (min-width: 991px) {
    .nav-link::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #863406;
      visibility: hidden;
      transition: 0.3s ease-in-out;
    }
  
    .nav-link:hover::before,
    .nav-link.active::before {
      width: 100%;
      visibility: visible;
    }
  }
  
  /* lp */
  .lp {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("assets/kitchen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .lp .content {
    padding: 1.4rem 7%;
  }
  
  .lp .content h1 {
    font-size: 5em;
    color: white;
    font-family: "Yellowtail", cursive;
    font-weight: 500;
    line-height: 1;
  }
  
  .lp .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    color: white;
    font-family: "Poppins", sans-serif;
    line-height: 1.4;
  }
  
  .lp .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: white;
    border-radius: 0.5rem;
    background-color: var(--primary)!important;
    text-decoration: none;
  }
  
  .carousel {
    display: flex;
    justify-content: space-between;
  }
  
  .controller {
    padding: 55px 10px;
    color: white;
    cursor: pointer;
  }
  
  .slide {
    color: white;
    font-family: "Poppins", sans-serif;
    display: none;
    width: 100%;
  }
  
  .slide h3{
      font-weight: bold;
  }
  
  .slide p{
      font-size: 20px!important;
  }
  
  .slide.active {
    display: block;
  }
  
  .cek {
    position: fixed;
    top: 50%;
    right: 5%; 
    transform: translateY(-50%);
    width: 550px !important;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    border-radius: 2rem;
  }
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 650px !important;
    position: relative;
    margin: auto;
    border: 7.5px solid white;
    border-radius: 1rem;
  }
  
  .cimg {
    border-radius: 1rem;
  }
  
  /* Caption text */
  .text {
    color: var(--primary);
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .text p {
    background-color: white;
    color: var(--primary) !important;
    border-radius: 1rem;
  }
  
  .dot {
    display: none !important;
  }
  
  .on {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 5s;
  }
  
  @keyframes fade {
    from {
      opacity: 0.9;
    }
    to {
      opacity: 1;
    }
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {
      font-size: 11px;
    }
  }
  
  @media (min-width: 1179px) {
    .cek {
      position: absolute;
      top: 50%;
      right: 5%;
      transform: translateY(-50%);
      width: 355px;
      height: 355px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .carousel {
      max-width: 500px;
    }
  }
  
  
  
  /*lp end*/
  
  /* about */
  .about,
  .menu,
  .faq,
  .testimoni,
  .contact {
    padding: 8rem 7% 7rem;
  }
  
  .about h2,
  .menu h2,
  .faq h2,
  .contact h2 {
    text-align: center;
    font-size: 2.3rem;
    font-family: "Poppins", sans-serif;
    margin-bottom: 3rem;
    color: var(--primary);
  }
  
  .about .row {
    color: white;
    background-image: linear-gradient(
      135deg,
      rgb(175, 97, 18),
      rgb(221, 144, 68),
      rgb(245, 194, 136)
    );
    padding: 2rem;
    border-radius: 2rem;
  }
  
  .about .row .about-img {
    flex: 1 1 10rem;
    text-align: center;
  }
  
  .about .row .about-img img {
    width: 75%;
  }
  
  .about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
  }
  
  .about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-family: "Josefin Sans", sans-serif;
    margin-top: 1.5rem;
  }
  
  .about .row .content p {
    margin-bottom: 0.8rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.6;
  }
  
  .hidden {
        display: none;
      }
  
  .content button{
      background-color: white;
      color: var(--primary);
      padding: 0.5rem;
      border-radius: 0.7rem;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
  }
  
  .content button:hover{
      background-image: linear-gradient(
      135deg,
      rgb(175, 97, 18),
      rgb(221, 144, 68),
      rgb(245, 194, 136)
    );
      color: white;
      transition: 0.3s;
  }
  /* about end */
  
  /*album*/
  .menu h5 {
    font-family: "Poppins", sans-serif;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
    background-image: linear-gradient(
      135deg,
      rgb(175, 97, 18),
      rgb(221, 144, 68),
      rgb(245, 194, 136)
    );
    padding: 2rem;
    border-radius: 2rem;
  }
  
  .snack {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }
  
  .card {
    width: 370px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
    border-radius: 2rem;
    margin:  1rem 0.5rem;
  }
  
  .card a {
    color: inherit;
    text-decoration: none;
  }
  
  .card:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  }
  
  .card__thumb {
    height: 245px;
    text-align: center;
    overflow: hidden;
    background-color: white;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
  }
  .card__thumbngs {
    height: 245px;
    text-align: center;
    overflow: hidden;
    background-color: white;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
  }
  
  .card__thumbngs img {
    width: 65%;
    display: inline-block;
    vertical-align: bottom;
    margin: 10px auto 0 auto;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  }
  
  .card__thumb img {
    width: 65%;
    display: block;
    margin: 0 auto;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  }
  
  
  .card:hover .card__thumbngs {
    height: 190px;
  }
  
  .card:hover .card__thumb {
    height: 190px;
  }
  
  .card:hover .card__thumbngs img {
    opacity: 0.6;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .card:hover .card__thumb img {
    opacity: 0.6;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .card__body {
    position: relative;
    height: 145px;
    padding: 20px;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
    background-image: linear-gradient(
      135deg,
      rgb(175, 97, 18),
      rgb(221, 144, 68),
      rgb(245, 194, 136)
    );
    color: white;
  }
  
  .card:hover .card__body {
    height: 200px;
  }
  
  .card__category {
    position: absolute;
    top: -25px;
    left: 0;
    padding-left: 5px;
    padding-right: 5px;
    background-image: linear-gradient(
      135deg,
      rgb(175, 97, 18),
      rgb(221, 144, 68),
      rgb(245, 194, 136)
    );
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    border: 3px solid white;
  }
  
  
  .card__category h6 {
    margin: 5px;
    background-image: linear-gradient(
      135deg,
      rgb(175, 97, 18),
      rgb(221, 144, 68),
      rgb(245, 194, 136)
    );
    color: white !important;
  }
  
  .card__title {
    margin-top: 25px;
    padding: 0 0 10px 0;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }
  
  .card__description {
    position: absolute;
    font-family: "Poppins", sans-serif;
    left: 20px;
    right: 20px;
    margin: 0;
    padding: 0;
    color: white;
    line-height: 27px;
    opacity: 0;
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  
  .card:hover .card__description {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  
  @media (max-width: 767px) {
    .snack {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 100%; 
      margin-bottom: 20px; 
    }
  
    .card__body {
      height: 100px;
    }
  
    .card__description {
      top: 75px;
    }
    .card:hover .card__body {
      height: 200px;
    }
  
    .card:hover .card__thumb {
      height: 200px;
    }
  }
  
  @media (max-width: 280px) {
    .snack {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 100%; 
      margin-bottom: 20px; 
    }
  
    .card__thumb {
      height: 200px;
    }
  
    .card__thumb img {
      margin-top: 20%;
    }
  
    .card__body {
      height: 100px; 
    }
  
    .card__description {
      top: 75px; 
      font-size: 12px;
    }
    .card:hover .card__body {
      height: 375px;
    }
  }
  
  .menu h6{
      text-align: justify;
      background-color: white;
      font-family: "Poppins", sans-serif;
      padding: 0.5rem;
      border-radius: 1rem;
      color: var(--primary);
  }
  
  [data-aos][data-aos][data-aos-easing=ease], 
  body[data-aos-easing=ease] [data-aos] {
      transition-timing-function: ease;
  }
  
  [data-aos][data-aos][data-aos-duration="400"], 
  body[data-aos-duration="400"] [data-aos] {
      transition-duration: 0.4s; 
  }
  /*album end*/
  
  /* faq */
  
  .faq-container {
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
  }
  
  .faq-item {
    padding: 2rem;
    transition: background-color 0.8s, color 0.8s;
    border-radius: 1rem;
  }
  
  .q {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 0.1rem;
  }
  
  .a {
    display: block;
    overflow: hidden;
    height: 0;
  }
  
  .a p {
    margin-bottom: 1.5rem;
    font-family: "Poppins", sans-serif;
  }
  
  .a a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: #49dc2f;
  }
  
  .a.open {
    height: auto;
    color: white;
  }
  
  .faq-item.active {
    background-image: linear-gradient(
      135deg,
      rgb(175, 97, 18),
      rgb(221, 144, 68),
      rgb(245, 194, 136)
    );
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
  
  .faq-item.active .q {
    color: white;
  }
  
  /* faq end */
  
  /* contact */
  
  .contact .row {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 3.5rem;
    background-image: linear-gradient(
      135deg,
      rgb(175, 97, 18),
      rgb(221, 144, 68),
      rgb(245, 194, 136)
    );
    border-radius: 10px;
  }
  
  .contact-info {
    width: 50%!important;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    color: white;
  }
  
  .contact-info p {
    margin: 0.5rem 0;
    padding: 1rem;
  }
  
  .contact-info a {
    text-decoration: none;
  }
  
  .map-container {
    width:50%!important;
  }
  
  .map-container iframe {
    width: 100%;
    border-radius: 10px!important;
  }
  
  .call a {
    display: inline-block; 
    text-decoration: none;
    color: #49dc2f;
    transition: background-color 0.4s, color 0.4s;
    padding: 0.5rem 1rem; 
    background-color: white;
    border-radius: 10px;
  }
  
  .call a:hover {
    background-color: #49dc2f;
    color: white;
    cursor: pointer;
  }
  
  .lokasi a {
    display: inline-block; 
    text-decoration: none;
    color: #2f97dc;
    transition: background-color 0.4s, color 0.4s;
    padding: 0.5rem 1rem; 
    background-color: white;
    border-radius: 10px;
  }
  
  .lokasi a:hover {
    background-color: #2f97dc;
    color: white;
    cursor: pointer;
  }
  
  @media screen and (max-width: 600px) {
    .call a {
      display: block; 
      width: fit-content; 
      padding: 5px;
      text-align: center; 
    }
    
  }
  
  
  @media (max-width: 768px) {
    .contact .row {
      flex-direction: column;
      text-align: center;
    }
  
    .contact-info,
    .map-container{
      width: 100%!important;
    }
    
    .map-container iframe{
        height: 300px;
    }
  
    .contact-info {
      margin-bottom: 2rem;
    }
  }
  
  .footer-48201 {
    padding: 7rem 0;
    background-image: linear-gradient(
      135deg,
      rgb(175, 97, 18),
      rgb(221, 144, 68),
      rgb(245, 194, 136)
    );
    color: #777;
    }
    
  .footer-48201 p{
      color: white;
      font-family: "Poppins", sans-serif;
  }
    
    .footer-48201 .footer-site-logo {
      font-weight: bold;
      font-size: 2rem;
      color: white;
      font-family: "Yellowtail", cursive; 
        
    }
    
  .footer-48201 .nav-links li {
      margin-bottom: 10px; 
        
  }
  
  .footer-48201 .nav-links li a {
      color: white; 
      text-decoration: none;   
      opacity: 0.7;
      font-family: "Poppins", sans-serif;
  }
      
  .footer-48201 .nav-links li a:hover {
      opacity: 1;
       
  }
  
  .sction{
      color: white;
      font-size: 2rem;
  }
  
  
  .additional-content h4{
      color: white;
      font-size: 2rem;
  }
        
    .footer-48201 .btn.btn-tertiary {
      background-color: var(--primary);
      color: #fff;
      border-radius: 30px;
      border: none;
      padding: 10px 20px;
      }
      
    .footer-48201 .social li {
      transition: 0.5s;  
      display: inline-block;
      }
      
      .footer-48201 .social li a {
        color: white;
        padding: 7px;
        }
        
      .footer-48201 .social li:hover{
          transform: translateY(-5px);
      }
          
    .footer-48201 .copyright {
      border-top: 1px solid #404040; }
      
  @media (max-width: 768px) {
      .footer-48201{
          text-align: center;
      }
  }
  
  
  
